<mat-dialog-content class="dialog-container" [formGroup]="form">

  <h2 mat-dialog-title>Gebruiker aanmaken</h2>

  <mat-form-field>
    <input type="text" matInput #firstName placeholder="Voornaam" formControlName="firstName" required>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput #lastName placeholder="Achternaam" formControlName="lastName" required>
  </mat-form-field>

  <mat-form-field>
    <input type="email" matInput #email placeholder="Email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput #company placeholder="Bedrijf" formControlName="company" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Deelnemer" formControlName="selectedParticipant" required>
      <mat-option *ngFor="let participant of participants" [value]="participant">
        {{participant}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput #password placeholder="Wachtwoord" formControlName="password" required>
  </mat-form-field>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Sluit</button>
    <button class="mat-raised-button mat-primary" (click)="submit()">Ok</button>
  </mat-dialog-actions>

</mat-dialog-content>
