<mat-dialog-content class="dialog-container">

  <h2 mat-dialog-title>Verantwoordelijken</h2>

  <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedSender" [disabled]="disabledSender" (change)="setSenderAsResponsibleUser()">
    Sender: {{ sender | removeResourcePipe }}
  </mat-slide-toggle>

  <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedShipper" [disabled]="disabledShipper" (change)="setShipperAsResponsibleUser()">
    Shipper: {{ shipper | removeResourcePipe }}
  </mat-slide-toggle>

  <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedReceiver" [disabled]="disabledReceiver" (change)="setReceiverAsResponsibleUser()">
    Receiver: {{ receiver | removeResourcePipe }}
  </mat-slide-toggle>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Sluit</button>
    <button class="mat-raised-button mat-primary" (click)="submit()">Ok</button>
  </mat-dialog-actions>

</mat-dialog-content>
