<mat-toolbar color="primary" class="example-toolbar">
  <button class='menuButton' mat-icon-button (click)="sidenav.toggle(); windowResize()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <h1 class="example-app-name">ChainIT - Dashboard</h1>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="modeView">
    <mat-nav-list>
      <a mat-list-item routerLink="main-dashboard">Mijn Dashboard</a>
      <a mat-list-item routerLink="admin/users">Admin/users</a>
      <a mat-list-item routerLink="admin/sensors">Admin/sensors</a>
      <a mat-list-item routerLink="login">Inloggen</a>
      <a mat-list-item routerLink="">Uitloggen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
