<mat-dialog-content class="dialog-container" [formGroup]="form">

  <h2 mat-dialog-title>Gebruiker aanmaken</h2>

  <mat-form-field>
    <input type="text" matInput #firstname placeholder="Voornaam" formControlName="firstname" required>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput #lastname placeholder="Achternaam" formControlName="lastname" required>
  </mat-form-field>

  <mat-form-field>
    <input type="email" matInput #email placeholder="Email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput #password placeholder="Wachtwoord" formControlName="password" required>
  </mat-form-field>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Sluit</button>
    <button class="mat-raised-button mat-primary" (click)="submit()">Ok</button>
  </mat-dialog-actions>

</mat-dialog-content>
