<mat-card>
    <mat-card-header>
        <mat-card-title>Gelieven in te loggen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Email" name="email" required #email>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Wachtwoord" type="password" name="wachtwoord" required #password>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-spinner *ngIf="authService.loading"></mat-spinner>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="emailLogin(email.value, password.value)">Inloggen</button>
    </mat-card-actions>
</mat-card>