<h1 class="mat-h1">Mijn Dashboard</h1>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile [colspan]="cardSizes[0].cols" [rowspan]="cardSizes[0].rows">
      <mat-card class="dashboard-card-sensors">
        <mat-card-header>
          <mat-card-title>Status Sensoren</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="chart_1">
            <ngx-charts-pie-grid (window:resize)="onResize($event)" [scheme]="colorScheme" [results]="sensorData"
              [animations]="true" label="Aantal" (select)="onSelect($event)" [view]="view">
            </ngx-charts-pie-grid>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="cardSizes[1].cols" [rowspan]="cardSizes[1].rows">
      <mat-card class="dashboard-card-history">
        <mat-card-header>
          <mat-card-title>Sensoren</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="example-table-container">

            <mat-form-field class="filter">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            &nbsp;
            <mat-form-field class="filter">
              <input matInput [matDatepicker]="picker" placeholder="Kies een datum">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="lrcid">
                <th mat-header-cell *matHeaderCellDef>lrcid</th>
                <td mat-cell *matCellDef="let sensor"> {{sensor.lrcid}} </td>
              </ng-container>

              <ng-container matColumnDef="temp">
                <th mat-header-cell *matHeaderCellDef>Temperatuur</th>
                <td mat-cell *matCellDef="let sensor"> {{sensor.temp}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Datum</th>
                <td mat-cell *matCellDef="let sensor"> {{sensor.date}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let sensor"> {{sensor.status}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
